<!DOCTYPE html>
<html lang="en">
<head>
  
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Pantry</title>
</head>
<body> 
  <%- include('../partials/_navbar.ejs') %>
  <h1>Welcome to my Pantry</h1>
  <ul>
    <% if (pantryItems && pantryItems.length > 0) { %>
        <% pantryItems.forEach(item => { %>
            <li>
              <%= item.food %> - <%= item.isInPantry ? 'In Pantry' : 'Not in Pantry'%> 
              <a href="/users/<%= user._id %>/foods/<%= item._id %>/edit">Edit</a>
              <form action="/users/<%= user._id %> /foods/<%= item._id %>?_method=DELETE" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
            </li>
        <% }); %>
    <% } else { %>
        <li>No items in your pantry</li>
    <% } %>
</ul>
  <p><a href="/users/<%= user._id%> /foods/new">Add New Item!</a></p>
</body>
</html>
